<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li style="color:red">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        <label>Usuário:</label><br>
        <input type="text" name="username" required><br><br>
        
        <label>Senha:</label><br>
        <input type="password" name="password" required><br><br>
        
        <button type="submit">Entrar</button>
    </form>
    
    <p>Não tem conta? <a href="{% url 'register' %}">Registrar</a></p>
</body>
</html>
